cat > .gitignore << 'EOF'
# Python
__pycache__/
*.pyc
.env

# Jupyter
.ipynb_checkpoints/

# Airflow
airflow/logs/

# Docker
*.log
EOF

# Medallion
data/bronze/*.csv
data/silver/*.csv
data/gold/*.csv
!data/*/.gitkeep
